body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 2.5vw;
}

.jh-page {
  position: relative;
  width: 100%;
}

.jh-content {
  position: absolute;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  text-transform: uppercase;
}

.jh-married {
  width: 100%;
}

.jh-image {
  width: 100%;
}

.jh-statue--one {
  position: fixed;
  bottom: 35%;
  right: -7%;
  width: 30%;
}

.jh-statue--two {
  position: fixed;
  bottom: 5%;
  left: -7%;
  width: 30%;
}

.jh-statue--three {
  position: fixed;
  top: 5%;
  right: 10%;
  width: 30%;
}


/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

body {
  font-size: 4vw;
}

.jh-content {
  position: absolute;
  width: 90%;
  margin: 0 5%;
  text-align: center;
  text-transform: uppercase;
}

.jh-statue {
  position: fixed;
  bottom: 40%;
  right: -7%;
  width: 50%;
}

.jh-statue--one {
  display: none;
}

.jh-statue--two {
  display: none;
}

.jh-statue--three {
  display: none;
}

}
